html {
  text-align: center;
  font-family: 'Klee One', cursive;
  font-weight: 300;
}
body {
  margin: auto;
  background-color: black;
  color: white;
}
p {
  font-size: 18px;
}
h1 {
  margin: 0;
}
ul {
  list-style: none;
}
small {
  margin: 0;
  font-size: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}



/* popup */

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 12px;
  clip: rect(1px, 1px, 1px, 1px);
}
.popup-container {
  max-width: 620px;
  margin: 0 auto;
}
.popup-container a {
  text-decoration: none;
  color: inherit;
}
.popup-container a:focus {
  outline: 1px dashed #999;
}
.popup-container .item-box .item-img {
  display: flex;
  margin: 20px;
}
.popup-container .item-box .item-img a {
  display: block;
  width: 300px;
  height: 200px;
  border: 1px solid #1eb9b2;
}
.popup-container .item-box .item-img a:nth-child(2n + 2) {
  margin-left: 20px;
}
.popup-container .item-box .item-img a img {
  display: block;
  width: 100%;
  height: 100%;
}
.popup-container .img-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  z-index: 10000;}
.popup-container .img-popup.active {
  visibility: visible;
  opacity: 1;
}
.popup-container .img-popup .popup-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
}
.popup-container .img-popup .popup-inner > img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.popup-container .img-popup .popup-inner .close-btn {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #1eb9b2;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
}
.popup-container .img-popup .popup-inner .close-btn i {
  transition: all 0.3s;
}
.popup-container .img-popup .popup-inner .close-btn:hover i {
  transform: rotate(180deg);
}

@media (max-width:991px) {
  .popup-container .img-popup .popup-inner {
    width: 90%;
  }
  .popup-container .img-popup .popup-inner .close-btn {
    width: 50px;
    height: 50px;
    top:-26px;
  }
  .popup-container .img-popup .popup-inner .close-btn img {
    width: 20px;
  }
}





/* scroll indicator */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header h2 {
  text-align: center;
}
.progress-container {
  width: 100%;
  height: 4px;
  background: black;
}
.progress-bar {
  width: 0%;
  height: 4px;
  background: #00a497;
}





/* slide-up */

#screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: black;
}
#front {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}



/* slide */

.container {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slider{
  display: flex;
  position: absolute;
}
.item{
  width: 100%;
  height: 90vh;
  font-size: 35px;
  text-align: center;
}
.item img {
  width: 100%;
  height: 100%;
}
.container div{
  -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
  -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
  transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}




/* parallax */

.scene {
  height: 93vh;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
.scene.two {
  opacity: 0;
  transition: 0.5s;
  background-image: url(images/akebonobashi.jpg);
  background-size: cover;
  color: black;
}
.scene.three {
  opacity: 0;
  transition: 0.5s;
  background-image: url(images/team_lab_odaiba3.jpeg);
  background-size: cover;
}
.scene.four {
  opacity: 0;
  transition: 0.5s;
  background-image: url(images/home.jpg);
  background-size: cover;
  color: black;
}
.scene header {
  max-width: 100%;
  position: relative;
  left:50%;
  top:50%;
  font-size:1.5rem;
  transform:translateX(-50%) translateY(-50%);
}
.scene header h1 {
  margin-bottom: 1rem;
  font-size:2rem;
  font-weight: 300;
}
.scene header h1:after {
  margin:0 auto;
  margin-top:1rem;
  display: block;
  width:8rem;
  content:'';
  border-bottom: 2px solid white;
}



/* between 区切り */

.between {
  width: 100%;
  height: 600px;
  background-color: #131415;
}
.between h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
}
.between h1:after {
  margin:0 auto;
  margin-top:1rem;
  display: block;
  width:8rem;
  content:'';
  border-bottom: 2px solid white;
}
.between.one {
  height: 146vh;
  background-image: url(images/stairs.png);
  background-size: cover;
}
.between.two {
  width: 100%;
  height: 800px;
}
.between-image {
  display: flex;
  flex-direction: row;
}
.between-image img {
  margin: auto;
  width: 300px;
  height: 350px;
}
.between-info {
  width: 100%;
}



/* overlay*/

.container-image {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(10, 10, 10, 0.2);
}

.container-image:hover .overlay {
  opacity: 1;
}

.overlay-text {
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}




/* window */

.window {
  display: flex;
  justify-content: space-around;
}
.window.top {
  height: 400px;
}
.window.bottom {
  height: 400px;
}
.window-short {
  width: 50%;
}
.text {
  padding: 60px;
}
.window-long {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.window-long img {
  width: 100%;
  height: 400px;
}
.window-image {
  position: relative;
  width: 100%;
}
.window-image:hover .overlay {
  opacity: 1;
}



/* solo */

.solo {
  margin: auto;
  width: 80%;
  padding-top: 10vh;
  /* position: relative;
  border-radius: 20px;
  background-color: black; */
}
/* .solo:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 180px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 40px solid black;
  border-bottom: 20px solid transparent;
} */
.solo h2 {
  margin: 0;
}
.solo p {
  margin: 0;
}
.solo span {
  font-size: 22px;
  font-weight: bold;
}



/* fade-in */

.fade-in {
	opacity: 1 !important;
}



/* footer */

footer {
  background-color: #131415;
  height: 30vh;
}
.footer {
  margin: auto;
  width: 60%;
  display: flex;
  /* justify-content: space-around; */
}
.about {
  width: 80%;
  padding-top: 2vh;
  color: gray;
}
.sns {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.sns img {
  width: 30px;
  height: 30px;
}